div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}
#static{
    background-color: yellow;
    position: static;
    /* no effect of top, bottom, left, right, zindex */
    top: 100px;
    left: 100px;
}

#relative{
    background-color: red;
    position: relative;
    top: 60px;
    right: 10px;
}

#absolute{
    background-color: orange;
    position: absolute;
    bottom :100px ;


}
#absoluteSection{
    position: relative;
}

#fixed{
    background-color: red;
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 10;
}
.section_sticky{
    position: relative;
    height: 1000px;
    background-color: aquamarine;
}

#sticky{
    background-color: brown;
    position: sticky;
    top: 50px;
}
